/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 */

/**
 * This uses the background and foreground colors declared in the `theme.json`
 * file and is applied both to the front end and in the block editor.
 */
body {
	@apply bg-background text-primary font-sans;
}

h1 {
	font-family: var(--font-serif);
	font-size: var(--wp--preset--font-size--xxxx-large);
	font-weight: var(--wp--custom--font-weight--black);
	line-height: 1.1;
}

h2 {
	font-size: var(--wp--preset--font-size--xx-large);
	font-weight: var(--wp--custom--font-weight--black);
	line-height: 1.3;
}

h3 {
	font-size: var(--wp--preset--font-size--large);
	font-weight: var(--wp--custom--font-weight--black);
	line-height: 1.5;
}

h4 {
	font-size: var(--wp--preset--font-size--medium);
	font-weight: var(--wp--custom--font-weight--black);
	line-height: 1.5;
}

h5 {
	font-family: var(--font-sans);
	font-size: var(--wp--preset--font-size--medium);
	font-weight: 800;
	line-height: 1.5;
}

h6 {
	font-family: var(--font-sans);
	font-size: var(--wp--preset--font-size--small);
	font-weight: var(--wp--custom--font-weight--black);
	line-height: 1.4;
}

.is-style-lead {
	color: var(--color-background);
	font-size: var(--wp--preset--font-size--medium);
	line-height: 1.7;
}

ul.wp-block-list {
	@apply list-disc pl-4;
}

li::marker {
	color: var(--color-secondary);
}
