/**
 * Custom `@font-face` rules
 *
 * These will be added immediately before Tailwind’s `base` layer.
 */

@font-face {
	font-family: "Merriweather Fallback";
	src: local("Georgia");
	ascent-override: 90.447%;
	descent-override: 25.0935%;
	size-adjust: 108.793%;
}

@font-face {
	font-family: "Source Sans 3 Fallback";
	src: local("Arial"), local("ArialMT");
	ascent-override: 109.2105%;
	descent-override: 42.6604%;
	line-gap-override: 0%;
	size-adjust: 93.7639%;
}
